<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans'>
 </head>
 <body style="    background: url(/uploads/background.png);
    background-repeat: no-repeat;
    background-size: 100%;">
 	<div style="text-align: center;margin-top: 20px">
 		<img src="<%= logo %>" height="300px" width="300px">
 	</div>
 	<div style="text-align: center;margin-top: 20px">
    	<p style="font-size: 40px;color: white;">
    		<%= message %>
    	</p>
    </div>
</body>
</html>
