<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>

    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <script type="text/javascript">
    	function validateForm() {
		    var x = document.forms["myForm"]["password"].value;
		    if (x == "") {
		        alert("Enter Password to continue");
		        return false;
		    }
		}
    </script>
 </head>
 <body style="background: url(/uploads/background.png);
    background-repeat: no-repeat;
    background-size: 100%;">
 	<div style="text-align: center;margin-top: 20px">
 		<img src="<%= logo %>" height="300px" width="300px">
 	</div>
 	<div style="text-align: center;margin-top: 20px">
    	<form name="myForm" action="<%= post %>" onsubmit="return validateForm()" method="post">
		<span style="font-weight: bold;color: white">Enter New Password:</span> <input type="password" name="password">
		<input type="hidden" name="token" id="token" value="<%= token%>">
		<input type="submit" value="Submit" style="color: #0774b8">
		</form>
    </div>
</body>
</html>